@media screen and (max-width: 1350px) {
  nav {
    padding: 0 1.2rem;
  }

  #contact {
    > section {
      > form {
        > input {
          width: 66%;
        }
        > button {
          width: 66%;
        }
      }
    }
  }
  .socialHeading {
    font-size: 1.8rem;
  }
  .socialLinks {
    > a {
      font-size: 1.8rem;
      padding: 0.4rem 0.7rem;
    }
  }
}
