$text1: "Roboto", sans-serif;
$text2: "Open Sans", sans-serif;
$text3: "Oswald", sans-serif;

$color1: #fff3e2;
$color2: #fc4f00;
$color3: orange;
$color4: white;
$color5: #292b46;
$color6: #161616;
$color6_1: #16161698;
$color6_2: #16161622;
